body {
    /* remove white border space */
    margin: 0;
    /* remove scroll bars */
    overflow: hidden;
    /* disable refresh on mobile devices */
    overscroll-behavior: none;
}

#menuItems {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 5vmin;
    border: 1vmin rgba(0,0,0,0.6) solid;
}

button {
    font-size: 7vmin;
    background: rgb(123, 146, 196);
    color: white;
}

button:hover {
    background: orange;
    color: black;
}